{% include "header.html" %} {% block content %}
<div class="container mt-5">
  <h2 class="mt-3">Configuracion de cuenta</h2>
  <form action="{{ url_for('main.account') }}" method="POST">
    {{ form.hidden_tag() }}
    <div class="row mt-4">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name"><strong>Nombre:</strong></label>
          {{ form.name(class_='form-control') }}
        </div>
        <div class="form-group">
          <label for="email"><strong>Correo Electrónico:</strong></label>
          {{ form.email(class_='form-control') }} {% if not is_verified %}
          <div class="alert alert-warning" role="alert">
            Tu cuenta no ha sido verificada. Por favor verifica tu correo
            electrónico.
            <a href="{{ url_for('main.send_verification_email') }}"
              >Reenviar correo de verificación</a
            >
          </div>
          {% endif %}
        </div>
        <div class="form-group">
          <label for="phone"><strong>Celular:</strong></label>
          {{ form.phone(class_='form-control') }}
        </div>
        <div class="form-group">
          <label for="password"><strong>Contraseña anterior:</strong></label>
          {{ form.password(class_='form-control') }}
        </div>
        <div class="form-group">
          <label for="new_password"><strong>Nueva Contraseña:</strong></label>
          {{ form.new_password(class_='form-control') }}
        </div>
        <div class="form-group">
          <label for="confirm_password"
            ><strong>Confirmar Contraseña:</strong></label
          >
          {{ form.confirm_password(class_='form-control') }}
        </div>
        {{ form.submit(class_='btn btn-primary mt-3') }}
      </div>
    </div>
  </form>
</div>
{% endblock %} {% include "footer.html" %}
