<!-- Footer-->
<footer class="bg-light text-center text-lg-start mt-4">
    <div class="container-fluid py-4">
      <div class="row justify-content-center mb-4">
        <div class="col-11">
          <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">Tesla Científica</h5>
              <p>Su tienda confiable de productos para su laboratorio.</p>
            </div>
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">Contáctenos</h5>
              <ul class="list-unstyled mb-0">
                <li><a href="#!" class="text-dark">Contacto</a></li>
                <li><a href="mailto:ventasteslacientifica@gmail.com" class="text-dark">Email: ventasteslacientifica@gmail.com</a></li>
                <li><a href="tel:+523338340387" class="text-dark">Teléfono: +52 33 3834 0387</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-11 text-center p-3 bg-dark text-white">
          &copy; 2024 Tesla Científica. Todos los derechos reservados.
          <div class="mt-2">
            <a href="https://www.facebook.com" class="text-white me-4" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com" class="text-white" target="_blank"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Core theme JS-->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/function.js') }}"></script>

  </body>
  </html>
  