{% include "header.html" %} {% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">Crear una cuenta</h3>
        </div>
        <div class="card-body">
          <form
            method="POST"
            action="{{ url_for('main.register', next=next) }}"
          >
            {{ form.hidden_tag() }}

            <div class="form-group mt-3">
              {{ form.name.label(class="form-label") }} {{
              form.name(class="form-control") }} 
            </div>

            <div class="form-group mt-3">
              {{ form.email.label(class="form-label") }} {{
              form.email(class="form-control") }} 
              {% if form.email.errors %}
              <div class="text-danger">
                {% for error in form.email.errors %}
                <p>{{ error }}</p>
                {% endfor %}
              </div>
              {% endif %}
            </div>

            <div class="form-group mt-3">
              {{ form.phone.label(class="form-label") }} {{
              form.phone(class="form-control") }}
            </div>

            <div class="form-group mt-3">
              {{ form.password.label(class="form-label") }} {{
              form.password(class="form-control") }}
            </div>

            <div class="form-group mt-3">
              <label
                >Tu contraseña debe tener al menos 8 caracteres, al menos una
                letra mayúscula, una letra minúscula, un número y un carácter
                especial (@ $ ! . ? -).
              </label>
            </div>

            <div class="form-group mt-3">
              {{ form.confirm_password.label(class="form-label") }} {{
              form.confirm_password(class="form-control") }} {% if
              form.confirm_password.errors %}
              <div class="text-danger">
                {% for error in form.confirm_password.errors %}
                <p>{{ error }}</p>
                {% endfor %}
              </div>
              {% endif %}
            </div>

            <div class="form-group mt-4">{{ form.submit() }}</div>
          </form>
        </div>
        <div class="card-footer text-center">
          <p>
            ¿Ya tienes una cuenta?
            <a href="{{ url_for('main.login', next=next) }}">Iniciar sesión</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% include "footer.html" %}
