{% extends 'base.html' %}
{% block title %}Admin{% endblock %}

{% block content %}
<div class="container my-5">
  <div class="row">
    <div class="col-sm-12">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <a href="{{ url_for('home') }}" style="text-decoration: none; color: inherit;"><h1>Cafes</h1></a>
        <a href="{{ url_for('logout') }}" class="btn btn-outline-secondary">Logout</a>
      </div>

      <table class="table table-dark table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for cafe in cafes %}
          <tr>
            <td>{{ cafe.name }}</td>
            <td>
              <a href="{{ url_for('edit', id=cafe.id) }}" class="btn btn-sm btn-warning">Update</a>
              <a href="{{ url_for('delete', id=cafe.id) }}" class="btn btn-sm btn-danger">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>


    </div>
  </div>
</div>
{% endblock %}